
  .swiper {
    width: 100%;
    height: 40%;
  }
  
  .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block; 
    object-fit: cover;
  }

  @media(min-width:900px){
    .swiper {
      display:none;
    }
  }
  